<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/projects"></ion-back-button>
    </ion-buttons>
    <ion-title>Project Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>{{ project.title }}</h1>
  <h3>by Dosen Informatika</h3>
  <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
  <p>
    {{ project.projectDetails }}
  </p>
  <div text-right>
      <ion-button color="primary" margin>Ask Question</ion-button>
  </div>
</ion-content>
  