<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/projects"></ion-back-button>
    </ion-buttons>
    <ion-title>Project Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <div *ngFor="let item of project"> -->
  <h1>{{ project.title }}</h1>
  <h3>by {{ project.nama }}</h3>
  <p>
    {{ project.details }}
  </p>
  <div text-right>
      <ion-button color="primary" margin [routerLink]="['/','message']">Ask Question</ion-button>
  </div>
  <!-- </div> -->
</ion-content>
  