<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label position="fixed">Email</ion-label>
        <ion-input
          required
          [(ngModel)]="email"
          type="email"
          placeholder="Your email here"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Password</ion-label>
        <ion-input
          required
          [(ngModel)]="password"
          type="password"
          minlength="6"
          placeholder="******"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Confirm Password</ion-label>
        <ion-input
          required
          [(ngModel)]="cpassword"
          type="password"
          minlength="6"
          placeholder="******"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="onSignUp()">Sign Up</ion-button>
    <ion-button expand="block" fill='outline' color='danger' (click)='onCancel()'>Cancel</ion-button>
</ion-content>
