<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Collab Yuk!</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar color="light"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="onTest()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ng-container *ngIf="!projects || projects.length == 0">
    <div *ngFor="let n of [0,1,2]" padding>
      <ion-skeleton-text></ion-skeleton-text>
      <p>
        <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
      </p>
    </div>
  </ng-container>
  <div *ngFor="let item of projects">
    <ion-card [routerLink]="['/','home','tabs','projects',item.id]">
      <ion-card-header>
        <ion-card-title>
          {{ item.title }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ item.projectDetails }}
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>
