<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/browse"></ion-back-button>
    </ion-buttons>
    <ion-title>User Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1> {{browse.title}}</h1>
  <h3>by {{browse.nama}}</h3>
  
  <p>
    {{browse.details}}
  </p>
  <div text-right>
    <!-- <ion-button color="primary" margin [routerLink]="['/','user-profile']">See Profile</ion-button> -->
  </div>
</ion-content>
  