<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/browse"></ion-back-button>
    </ion-buttons>
    <ion-title>User Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Mencari Project Front End</h1>
  <h3>by Aldric Leonardo</h3>
  <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
  <p>
    Sedang mencari project yang membutuhkan front end programmer
  </p>
  <div text-right>
    <ion-button color="primary" margin [routerLink]="['/','user-profile']">See Profile</ion-button>
  </div>
</ion-content>
  