<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/browse"></ion-back-button>
    </ion-buttons>
    <ion-button color="light" fill="clear"  slot="end">Post</ion-button>
    <ion-title>New Searching Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Searching Details</ion-label>
      <ion-textarea [attr.rows]="27"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
